<div class="container">
  <div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div class="container-2">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Get your bike</mat-card-title>
            <mat-card-subtitle>Various choice of bike</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/bike.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Go for it</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Get your bike</mat-card-title>
            <mat-card-subtitle>Various choice of bike</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/park.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Go for it</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
