<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
<div class="banner-area">
  <div class="content-area">
    <div class="content">
      <h1>Bienvenue sur Velio !</h1>
      <br><br>
      <p>The site that allows you to travel in an ecological and local way 🚲</p>
      <br>
      <br>
      <p>Velio is a community site that aims to promote the quality and innovation of our bikes made by local artisans</p>
      <p>Our goal is to allow those who wish to travel everywhere in and outside Toulousee</p>
    </div>
  </div>
</div>
