<section class="wrapper bg-soft-primary">
  <div class="container pt-10 pb-20 pt-md-14 pb-md-22 text-center">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <h1 class="display-1 mb-3">Tarifs</h1>
        <p class="lead mb-0 px-xl-10 px-xxl-13">On fait des bon tarot pour la famille.</p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper">
  <div class="container pb-14 pb-md-16">
    <div class="pricing-wrapper position-relative mt-n18 mt-md-n21 mb-12 mb-md-15">
      <div class="shape bg-dot primary rellax w-16 h-18" data-rellax-speed="1" style="top: 2rem; right: -2.4rem;"></div>
      <div class="shape rounded-circle bg-line red rellax w-18 h-18 d-none d-lg-block" data-rellax-speed="1" style="bottom: 0.5rem; left: -2.5rem;"></div>
      <div class="row gy-6 mt-3 mt-md-5">
        <div class="col-md-6 col-lg-4">
          <div class="pricing card text-center">
            <div class="card-body">
              <i class="fa-5x fal fa-clock 2x mb-3 text-green"></i>
              <h4 class="card-title">Location à la demande</h4>
              <div class="prices text-dark">
                <div class="price price-show"><span class="price-currency">€</span><span class="price-value">0,15</span> <span class="price-duration">les 10 minutes</span></div>
              </div>
              <!--/.prices -->
              <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                <li><i class="uil uil-check"></i><span><strong>1</strong> Vélo à la fois </span></li>
                <li><i class="uil uil-check"></i><span>La <strong>garantie d'arriver à destination</strong> </span></li>
                <li><i class="uil uil-check"></i><span><strong>Aucun</strong> compte à crée </span></li>
                <li><i class="uil uil-check"></i><span><strong>Pret en </strong>30 secondes </span></li>
                <li><i class="uil uil-times bullet-soft-red"></i><span><strong> Aucun SAV</strong></span></li>

              </ul>
              <a href="#" class="btn btn-primary rounded-pill">Choisir</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.pricing -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4 popular">
          <div class="pricing card text-center">
            <div class="card-body">
              <i class="fa-5x fad fa-stars 2x mb-3 text-yellow"></i>
              <h4 class="card-title">Premium</h4>
              <div class="prices text-dark">
                <div class="price price-show"><span class="price-currency">€</span><span class="price-value">55</span> <span class="price-duration">par mois</span></div>
              </div>
              <!--/.prices -->
              <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                <li><i class="uil uil-check"></i><span> Jusqu'a <strong>3</strong> vélos en simultanés </span></li>
                <li><i class="uil uil-check"></i><span>La possiblité de <strong>reserver ton vélo</strong> en avance </span></li>
                <li><i class="uil uil-check"></i><span>Une carte membre <strong class='joli-gradiant'>customisable</strong></span></li>
                <li><i class="uil uil-check"></i><span>Support <strong>7 jours sur 7</strong></span></li>
              </ul>
              <a href="#" class="btn btn-primary rounded-pill">Choisir</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.pricing -->
        </div>
        <!--/column -->
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
          <div class="pricing card text-center">
            <div class="card-body">
              <i class="fa-5x fad fa-users 2x mb-3 text-aqua"></i>
              <h4 class="card-title">Entreprise</h4>
              <div class="prices text-dark">
                <div class="price price-show"><span class="price-currency">€</span><span class="price-value">45</span> <span class="price-duration">par utilisateurs et par mois</span></div>
              </div>
              <!--/.prices -->
              <ul class="icon-list bullet-bg bullet-soft-primary mt-8 mb-9 text-start">
                <li><i class="uil uil-check"></i><span>Possibilitée d'installer <strong>un parc à vélo dans votre entreprise</strong></span></li>
                <li><i class="uil uil-check"></i><span><strong>Gestion de vos utilisateurs</strong></span></li>
                <li><i class="uil uil-check"></i><span><strong>Historique des trajets</strong> de vos utilisateurs</span></li>
              </ul>
              <a href="#" class="btn btn-primary rounded-pill">Choisir</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.pricing -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!--/.pricing-wrapper -->
    <h2 class="display-4 mb-3 text-center">Foire au question</h2>
    <p class="lead text-center mb-10 px-md-16 px-lg-0">Une question ? un problème ? On y a surement déjà répondu</p>
    <div class="row mb-14 mb-md-18">
      <div class="col-lg-6 mb-0">
        <div id="accordion-1" class="accordion-wrapper">
          <div class="card">
            <div class="card-header" id="accordion-heading-1-1">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1-1" aria-expanded="false" aria-controls="accordion-collapse-1-1">Puis-je annuler mon abonnement ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-1" class="collapse" aria-labelledby="accordion-heading-1-1" data-bs-target="#accordion-1">
              <div class="card-body">
                <p>Malheureusement (pour toi) non, tu es engagé à vie.</p>
                <p>Eh ouais mon gars faut bien lire les CGV</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-2">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1-2" aria-expanded="false" aria-controls="accordion-collapse-1-2">Quels modes de paiements acceptez-vous ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-2" class="collapse" aria-labelledby="accordion-heading-1-2" data-bs-target="#accordion-1">
              <div class="card-body">
                <p>On prend tout mon gars, les espèces, les chèques, la carte bleue, Paypal, Lydia, PaySafeCard, Allo-Pass, Western Union.</p>
                <p>On prend même les tickets à gratter gagnant</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-3">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1-3" aria-expanded="false" aria-controls="accordion-collapse-1-3">Comment puis-je gérer mon compte ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-3" class="collapse" aria-labelledby="accordion-heading-1-3" data-bs-target="#accordion-1">
              <div class="card-body">
                <p>Vous pouvez cliquer <a href=''>ici</a> ou alors connectez-vous et rendez-vous dans "Mon Compte".
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-4">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-1-4" aria-expanded="false" aria-controls="accordion-collapse-1-4">Mes informations de paiements sont-elles sécurisées ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-4" class="collapse" aria-labelledby="accordion-heading-1-4" data-bs-target="#accordion-1">
              <div class="card-body">
                <p>Mais ouuuuuui, te fait pas de soucie pour ça le sang</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <div id="accordion-2" class="accordion-wrapper">
          <div class="card">
            <div class="card-header" id="accordion-heading-2-1">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2-1" aria-expanded="false" aria-controls="accordion-collapse-2-1">Comment puis-je avoir une facture ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-1" class="collapse" aria-labelledby="accordion-heading-2-1" data-bs-target="#accordion-2">
              <div class="card-body">
                <p>Déjà on te fournit des vélos tu vas pas en plus demander des factures si ?</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-2-2">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2-2" aria-expanded="false" aria-controls="accordion-collapse-2-2">Faites vous des réductions ou des tarifs de groupe ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-2" class="collapse" aria-labelledby="accordion-heading-2-2" data-bs-target="#accordion-2">
              <div class="card-body">
                <p>Oui oui bien sûr, c'est le Secours populaire ici hein</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-2-3">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2-3" aria-expanded="false" aria-controls="accordion-collapse-2-3">Est-il possible d'avoir un essai avant de m'abonné ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-3" class="collapse" aria-labelledby="accordion-heading-2-3" data-bs-target="#accordion-2">
              <div class="card-body">
                <p>Cf -> question précédente</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-2-4">
              <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-2-4" aria-expanded="false" aria-controls="accordion-collapse-2-4">Comment faire si j'ai oublié mon mot de passe ?</button>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-4" class="collapse" aria-labelledby="accordion-heading-2-4" data-bs-target="#accordion-2">
              <div class="card-body">
                <p>Et le bouton "Mot de passe oublié" il sert à décorer peut-être ?
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <h2 class="display-4 mb-3 text-center">Ils parlent de nous</h2>
    <p class="lead text-center mb-10 px-md-16 px-lg-0">Pour nous la satisfaction de nos clients passe avant tout!</p>
    <div class='row'>
      <div class='col-lg-3'>
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle w-15 mb-4" src="../../assets/img/avatars/arno_beauf.jpg" alt="">
            <h4 class="mb-1">Bobby Cyclette</h4>
            <div class="meta mb-2">Distance parcouru: 569 km </div>
            <blockquote class="icon fs-md">Vous avez vu mon vélo ? il est beau heiin</blockquote>
            <img style='width: 150px' src='../../assets/img/five_stars.png' alt='five_stars'>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class='col-lg-3'>
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle w-15 mb-4" src="../../assets/img/avatars/arno_norvege.jpg" alt="">
            <h4 class="mb-1">Guy Don</h4>
            <div class="meta mb-2">Distance parcouru: 2200 km</div>
            <blockquote class="icon fs-md">Attention, les vélos sont tellement confortable que sans faire attention je me suis retrouvé en Norvege</blockquote>
            <img style='width: 150px' src='../../assets/img/five_stars.png' alt='five_stars'>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class='col-lg-3'>
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle w-15 mb-4" src="../../assets/img/avatars/arno_studieux.jpg" alt="">
            <h4 class="mb-1">Jean Laselle</h4>
            <div class="meta mb-2">Distance parcouru: 0,5 km</div>
            <blockquote class="icon fs-md">Depuis que j'utilise VéloRéglo ma femme à annulé la procédure de divorce et mes enfants sont revenus a la maison !</blockquote>
            <img style='width: 150px' src='../../assets/img/five_stars.png' alt='five_stars'>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class='col-lg-3'>
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle w-15 mb-4" src="../../assets/img/avatars/arno_peche.jpg" alt="">
            <h4 class="mb-1">Dédé Railleur</h4>
            <div class="meta mb-2">Distance parcouru: 69 km</div>
            <blockquote class="icon fs-md">Avant j'étais triste, maintenant je suis triste mais j'ai un vélo</blockquote>
            <img style='width: 150px' src='../../assets/img/five_stars.png' alt='five_stars'>
            <!-- /.social -->
          </div>
          <!--/.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.position-relative -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
