<div class='container'>
  <mat-form-field>
    <input matInput placeholder='Name' name='name' [(ngModel)]='this.park.name'>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder='City' name='city' [(ngModel)]='this.park.city'>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder='PostalCode' name='postalCode' [(ngModel)]='this.park.postalCode'>
  </mat-form-field>
  <button mat-flat-button-color='primary' (click)='onSaveForm()'>
    <mat-icon>save</mat-icon>Save
  </button>
</div>
