<mat-toolbar fxLayout="row">
  <img src="../../../assets/logo.png" class="header-logo">
  <span fxFlex>Velio</span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="['']">Home</a>
    <button mat-button [matMenuTriggerFor]="menu">Create</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['create-bike']">Create a bike</button>
      <button mat-menu-item>Create a park</button>
    </mat-menu>
    <a mat-button [routerLink]="['main']">New</a>
    <a mat-button [routerLink]="['bike']">Get a bike</a>
    <a mat-button [routerLink]="['map']">Choose a park</a>
    <a mat-button [routerLink]="['register']" *ngIf="!authService.loggedIn()">Register</a>
    <a mat-button [routerLink]="['login']" *ngIf="!authService.loggedIn()">Login</a>
    <a mat-button [routerLink]="['']" (click)="authService.logoutUser()">Logout</a>

    <!--
    <a mat-button [routerLink]="['/home']">Home</a>
    <a mat-button [routerLink]="['/register']"*ngIf="!_authService.loggedIn()">Register</a>
    <a mat-button [routerLink]="['/login']" *ngIf="!_authService.loggedIn()">Login</a>
    <a mat-button [routerLink]="['/news']" type="button" (click)="openDialog()">New</a>
    <a mat-button *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a> -->

  </div>
</mat-toolbar>
