<mat-toolbar fxLayout="row">
  <img src="../../../assets/logo.png" class="header-logo">
  <span fxFlex>Velio</span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="['home']">Home</a>
    <button mat-button [matMenuTriggerFor]="menu">Create</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['create-bikes']">Create a bike</button>
      <button mat-menu-item [routerLink]="['create-parks']">Create a park</button>
    </mat-menu>
    <a mat-button [routerLink]="['main']">New</a>
    <a mat-button [routerLink]="['list-bikes']">List bikes</a>
    <a mat-button [routerLink]="['list-parks']">List parks</a>
    <a mat-button [routerLink]="['register']" *ngIf="!authService.loggedIn()">Register>Register</a>
    <a mat-button [routerLink]="['login']" *ngIf="!authService.loggedIn()">Login>Login 🚴‍♀️</a>
    <a mat-button *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>

    <!--
    <a mat-button [routerLink]="['/home']">Home</a>
    <a mat-button [routerLink]="['/register']"*ngIf="!_authService.loggedIn()">Register</a>
    <a mat-button [routerLink]="['/login']" *ngIf="!_authService.loggedIn()">Login</a>
    <a mat-button [routerLink]="['/news']" type="button" (click)="openDialog()">New</a>
    <a mat-button *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a> -->

  </div>
</mat-toolbar>
